<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Can be done in various ways but i am unable to remember about anything now.<br>So I have two thingsto say to you <ol><li> you start taking babysteps now</li> <li>You watch your idols do it learn from them,ask them just don't give up </li></ol> </p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Go follow first blog first.</p>
        </div>
    </body>
</html>